<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
</head>
<body>
    <h1>Login</h1>
    <main>
        <form action="submit" method="POST">{% csrf_token %}
            <div>
                <label for="">Login: </label>
                <input type="text" name="username">
                <label for="">Password: </label>
                <input type="password" name="password">
                <button type="submit">Entrar</button>
            </div>
        </form>
        {% for message in messages %}
            <strong>Error! </strong> {{ message }}
        {% endfor %}
    </main>
</body>
</html>